* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
}

body {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

html {
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --bg-primary: #fff;
  --bg-secondary: #f0f2f5;
  --bg-third: #e4e6eb;
  --bg-forth: #f0f2f5;
  --bg-sixth: #242526;
  --bg-seventh: #fff;
  --color-primary: #050505;
  --color-secondary: #65676b;
  --divider: #ced0d4;
  --dark-bg-primary: #18191a;
  --dark-bg-secondary: #242526;
  --dark-bg-third: #3a3b3c;
  --dark-color-primary: #242526;
  --dark-color-secondary: #b0b3b8;
  --blue-color: #1876f2;
  --pink-color: #F51997;
  --orange-color: #f99827;
  --my-color: #ff009049;
  --pink-color-btn: #f51996c9;
  --pink-color-light: #ffccbb;
  --green-color: #42b72a;
  --light-blue-color: #e7f3ff;
  --light-pink-color: rgba(255, 204, 187, 0.400);
  --light-pink-color-blur: rgba(227, 61, 148, 0.400);
  --border-color: #ccced2;
  --shadow-1: rgba(0, 0, 0, 0.2);
  --shadow-2: rgba(0, 0, 0, 0.1);
  --shadow-3: rgba(0, 0, 0, 0.3);
  --shadow-inset: rgba(255, 255, 255, 0.5);
}

/* ------------------------------------------------- */

/* BUTTONS */
.pink_btn {
  border: none;
  outline: none;
  background: var(--pink-color);
  padding: 8.5px 12px;
  border-radius: 7px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
}

.pink_btn_second {
  border: none;
  outline: none;
  background: var(--pink-color);
  padding: 8.5px 12px;
  border-radius: 7px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.light_pink_btn {
  border: none;
  outline: none;
  background: var(--pink-color-btn);
  padding: 8.5px 12px;
  border-radius: 7px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
}

.light_pink_btn_second {
  border: none;
  outline: none;
  background: #f519963d;
  padding: 8.5px 12px;
  border-radius: 7px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
}

.blue_btn {
  border: none;
  outline: none;
  background: var(--blue-color);
  padding: 8.5px 12px;
  border-radius: 7px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
}

.light_blue_btn {
  border: none;
  outline: none;
  background: var(--light-blue-color);
  padding: 8.5px 12px;
  border-radius: 7px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
}

.gray_btn {
  border: none;
  outline: none;
  background: var(--bg-secondary);
  padding: 8.5px 12px;
  border-radius: 7px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
}

/* .light_pink_btn,
.gray_btn span {
  transform: translateY(-1px);
} */
/* ------------------------------------------------- */

/* --------------------- BLUR ---------------------- */
.blur {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.768);
  z-index: 9999999;
}

/* ------------------------------------------------- */

/* HOVER */
.hover1:hover {
  background: var(--bg-secondary);
}

.hover2:hover {
  background: var(--bg-third);
}

.hover3:hover {
  background: var(--pink-color-btn);
  /* background: pink; */
  /* background: #d4d6da3a; */
}

.hover4:hover {
  background: var(--light-pink-color);
}

.hover5:hover {
  background: var(--pink-color);
}

/* ------------------------------------------------- */

/* ----------------- SMALL CIRCLE ------------------ */
.small_circle {
  position: relative;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-right: 11px; */
  /* background: pink; */
  background: var(--bg-third);
  cursor: pointer;
}

.small_circle_second {
  position: relative;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 11px;
  background: var(--bg-third);
  cursor: pointer;
}

.small_circle_third {
  position: relative;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 11px;
  background: var(--pink-color);
  cursor: pointer;
}

/* ------------------------------------------------- */

/* SCROLLBAR */
.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: pink;
  /* background: #aeaeafa1; */
  border-radius: 5px;
}

/* ------------------------------------------------- */

/* -------------------- FILTER --------------------- */

.filter_blue {
  filter: invert(39%) sepia(57%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(147.75%) hue-rotate(202deg) brightness(97%) contrast(96%);
}

.filter_pink {
  filter: invert(33%) sepia(84%) saturate(7429%) hue-rotate(313deg) brightness(99%) contrast(94%);
}

.filter_white {
  filter: brightness(0) invert(1);
}

/* ------------------------------------------------- */