.send_verification {
    background: var(--bg-primary);
    box-shadow: 0 1px 2px var(--shadow-1);
    padding: 20px;
    margin-top: 15px;
    font-size: 14px;
    color: var(--color-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.send_verification span {
    text-align: center;
}

.send_verification_link {
    color: var(--blue-color);
    cursor: pointer;
}

.myLink {
    text-align: center;
}

.send_verification_link:hover {
    text-decoration: underline;
}