.mY {
    background: var(--bg-secondary);
}

.profile {
    color: var(--color-primary);
    min-height: calc(100vh - 70px);
}

.profile_top {
    margin-top: 70px;
    box-shadow: 0 1px 2px var(--shadow-1);
    background: var(--bg-primary);
}

.profile_container {
    max-width: 945px;
    margin: 0 auto;
}

.profile_cover {
    position: relative;
    margin-top: -3px !important;
    height: 350px;
    width: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background: var(--bg-secondary);
}

.cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.selectCoverBox {
    width: 570px !important;
    max-width: 98%;
    /* max-width: 80vw; */
}

.selectCoverBox_links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5px 15px;
}

.selectCoverBox_link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    padding: 5px 0 10px 0;
    cursor: pointer;
}

.selectCoverBox_link:first-of-type {
    color: var(--pink-color);
    border-bottom: 3px solid var(--pink-color);
}

.save_changes_cover {
    z-index: 9999999;
    position: fixed;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 15px;
    font-weight: 500;
    font-size: 14px;
    color: var(--color-primary);
}

.save_changes_left {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
}

.save_changes_left i {
    filter: invert(100%);
}

.save_changes_right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.save_changes_right button {
    padding: 10px;
}

.save_changes_right button:first-of-type {
    width: 100px;
    background: #39393f;
}

.save_changes_right button:last-of-type {
    width: 160px;
}

.cover_cropper {
    height: 100%;
}

.cover_cropper img {
    object-fit: cover;
    width: 100%;
}

.cover_cropper .reactEasyCrop_Container {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.update_cover_wrapper {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.open_cover_update {
    background: #fff;
    padding: 7px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 14px;
    color: var(--color-secondary);
    border-radius: 10px;
    cursor: pointer;
}

.open_cover_update i {
    transform: scale(0.9);
    margin-top: 2px;
}

.open_cover_menu {
    margin-top: 1px;
    background: var(--bg-primary);
    position: absolute;
    right: 0;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 12px 20px 0 var(--light-pink-color-blur), 0 2px 4px 0 var(--light-pink-color);
    /* box-shadow: 0 12px 20px var(--shadow-1); */
    z-index: 999;
}

.open_cover_menu_second {
    margin-top: 1px;
    background: var(--bg-primary);
    position: absolute;
    right: -105px;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 12px 20px 0 var(--light-pink-color-blur), 0 2px 4px 0 var(--light-pink-color);
    z-index: 999;
}

.open_cover_menu_item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    border-radius: 10px;
}

.profile_img_wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    margin-bottom: -2.8rem;
}

.profile_w_left {
    display: flex;
    gap: 1rem;
    padding: 1rem 13px 0 13px;
}

.profile_w_img {
    position: relative;
}

.profile_w_bg {
    width: 180px;
    height: 180px;
    transform: translateY(-3.6rem);
    border-radius: 50%;
    background-repeat: no-repeat;
    border: 2px solid #fff;
    background: #fff;
    cursor: pointer;
}

.profile_w_bg:hover {
    filter: brightness(90%);
}

.profile_circle {
    position: absolute;
    bottom: 4.5rem;
    right: 0;
    background: var(--light-pink-color-blur);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.profile_name {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* font-weight: 700; */
    /* font-size: 32px; */
}

.first_last {
    font-size: 32px;
    font-weight: 700;
}

.othername {
    color: var(--color-secondary);
    font-size: 18px;
    font-weight: 600;
}

.profile_friend_count {
    display: flex;
    align-items: center;
    font-weight: 600;
    gap: 10px;
    /* border: 1px solid var(--pink-color); */
}

.profile_friend_count.gray_btn {
    cursor: default;
    background: none;
}

.profile_friend_imgs {
    display: flex;
    align-items: center;
}

.profile_friend_imgs img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 1px 2px var(--shadow-1);
}

.profile_friend_imgs img:hover {
    filter: brightness(110%);
}

.profile_w_right {
    display: flex;
    gap: 8px;
    padding: 0 18px;
    margin-bottom: 7px;
}

.invert {
    filter: invert(100%);
}

.friends_menu_wrap {
    position: relative;
}

/*------------------------- MENU -------------------------*/

.profile_menu_wrap {
    position: relative;
    padding: 0 2.2rem;
}

.profile_menu {
    position: relative;
    border-top: 1px solid var(--border-color);
    display: flex;
    padding: 0;
}

.profile_menu a {
    height: 54px;
    width: 78.5px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 3px 0;
    color: var(--color-secondary);
}

.profile_menu_active {
    height: 60px !important;
    width: 65px !important;
    margin: 0 !important;
    color: var(--pink-color) !important;
    border-bottom: 3px solid var(--pink-color);
    border-radius: 0 !important;
}

.p10_dots {
    position: absolute;
    /* background: var(--bg-third); */
    right: 0;
    top: 10px;
    border-radius: 5px;
    display: grid;
    place-content: center;
    padding: 8px 14px;
}

.p10_dots svg {
    width: 16px;
    height: 16px;
    margin-top: 2px;
    margin-left: 2px;
}

/*--------------------------------------------------------*/

/*----------------------- DISCOVER -----------------------*/

.profile_bottom {
    margin-top: 1px;
    background-color: var(--bg-secondary);
}

.bottom_container {
    padding: 10px 2.2rem;
}

.pplumayknow {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 3px solid var(--pink-color-btn);
    padding: 10px 15px;
}

.pplumayknow_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 16px;
}

.pplumayknow_list {
    display: flex;
    gap: 5px;
    align-items: center;
    height: 240px;
}

/* Change this for image view */
.addfriendCard {
    position: relative;
    height: 100%;
    width: 150px;
    border-radius: 10px;
    overflow: hidden;
    background: var(--bg-primary);
}

.addfriend_imgsmall {
    width: 100%;
    height: 140px;
}

.addfriend_imgsmall img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 50%; */
}

.addfriend_infos {
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.addfriend_name {
    font-size: 16px;
    font-weight: 600;
}

.light_pink_btn_second img {
    width: 20px;
}

.pplumayknow_list .light_pink_btn_second {
    color: var(--pink-color);
}

.profile_grid {
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    gap: 10px;
}

/*--------------------------------------------------------*/

.left_header_grid {
    font-size: 22px;
    font-weight: 600;
}

.flex {
    display: flex;
    align-items: center;
    gap: 10px;
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    font-size: 14px;
}

.view_type {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: 600;
    color: var(--color-secondary);
}

.grid2 .active {
    color: var(--pink-color);
}

.no_posts {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    color: var(--color-secondary);
}

/*--------------------------------------------------------*/

/*---------------------- PROFILE CARD --------------------*/

.profile_card {
    background: var(--bg-primary);
    border-radius: 10px;
    box-shadow: 0 1px 2px var(--shadow-1);
    padding: 10px 15px;
    margin-top: 17px;
}

.profile_card_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 20px;
}

.profile_header_link {
    font-weight: normal;
    font-size: 16px;
    color: var(--pink-color);
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 10px;
}

/* .profile_header_link:hover {
    background: var(--bg-secondary);
    border-radius: 10px;
} */

.profile_card_count {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-secondary);
}

.profile_card_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.profile_photo_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.profile_photo_card:hover {
    filter: brightness(95%);
}

.profile_photo_card img {
    width: 100%;
    height: 105px;
    object-fit: cover;
    border-radius: 10px;
}

.profile_photo_card span {
    color: var(--color-primary);
    font-size: 14px;
    word-break: break-word;
}

/*--------------------------------------------------------*/

/*---------------------- FRIENDSHIP ----------------------*/

.friendship {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.line_seperator {
    width: 2px !important;
    height: 40px !important;
    border-left: 1px solid var(--pink-color);
}

.fix {
    flex-direction: row !important;
}

/*--------------------------------------------------------*/

/*------------------  SKELETON LOADING -------------------*/

.react-loading-skeleton {
    --base-color: transparent !important;
    --highlight-color: var(--light-pink-color-blur) !important;
    /* background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(222,168,248,1) 0%, rgba(168,222,248,1) 21.8%, rgba(189,250,205,1) 35.6%, rgba(243,250,189,1) 52.9%, rgba(250,227,189,1) 66.8%, rgba(248,172,172,1) 90%, rgba(254,211,252,1) 99.7% ); */

}

.profile_friend_count .avatar_skeleton span {
    height: 0 !important;
}

.skeleton_loader {
    height: 100px;
    width: 100%;
    display: grid;
    place-items: center;
}

.skeleton_loader_second {
    height: 100px;
    width: 100%;
    display: grid;
    place-items: center;
}

/*--------------------------------------------------------*/

.seperator {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 900px) {
    .profile_w_left {
        flex-direction: column;
        align-items: center;
    }

    .profile_w_col {
        transform: translateY(-3.6rem);
    }

    .profile_w_right {
        transform: translateY(-3.6rem);
    }

    .profile_img_wrap {
        flex-direction: column;
        justify-content: center;
    }

    .profile_circle {
        right: 0.55rem;
    }

    .profile_name {
        padding-bottom: 10px;
        flex-direction: column;
    }

    .pplumayknow {
        display: none;
    }

    .profile_grid {
        grid-template-columns: 1fr;
    }

    .profile_grid .createPost {
        width: 100%;
    }

    /* .profile_grid {
        grid-template-columns: 1fr;
        width: 95%;
    } */

    .bottom_container {
        padding: 5px;
    }

    .friendship {
        transform: translateY(-4rem);
    }

    .othername {
        transform: translateY(-10px);
    }

    .profile_friend_count {
        justify-content: center;
        margin: 10px 0;
        text-align: center;
        transform: translateY(-15px);
    }

    .profile_friend_imgs {
        justify-content: center;
        /* transform: translateY(-20px); */
        margin-top: -10px;
        margin-bottom: 10px;
        /* transform: translateX(13px); */
    }
}

@media (max-width: 650px) {
    .profile_menu_wrap {
        display: none;
    }


    .save_changes_left span {
        font-size: 12px;
    }

    .save_changes_right .pink_btn {
        font-size: 12px !important;
    }

    .save_changes_right button {
        width: 100px !important;
    }
}

@media (max-width: 510px) {
    .update_cover_wrapper {
        bottom: 3rem;
    }
}

@media (max-width: 410px) {
    .friendship {
        flex-direction: column;
    }
}

@media (min-width: 900px) {
    .friendship {
        transform: translateX(-1.1rem);
    }

    .profile_friend_count {
        margin-top: 3px;
    }
}

.scrollFixed .profile_left {
    position: fixed;
    width: 360px;
}

.scrollFixed .profile_right {
    margin-left: 370px;
    width: 504px;
}

.showLess .profile_left {
    bottom: 10px;
    top: 85px;
    /* top: 71px; */
}

.showMore .profile_left {
    top: 71px;
    /* bottom: 30px; */
}

.dark .gray_btn i,
.dark .gray_btn img {
    filter: invert(100%);
}