.dark {
    --bg-primary: #242526;
    --bg-secondary: #18191a;
    --bg-third: #3a3b3c;
    --bg-forth: #3a3b3c;
    --bg-fifth: #888888;
    --bg-sixth: #18191a;
    --bg-seventh: #fff;
    --color-primary: #e4e6eb;
    --color-secondary: #65676b;
    /* --color-primary: #e4e6eb; */
    /* --color-secondary: #b0b3b8; */
}

.dark .blur {
    background: rgb(1, 1, 1, 0.53);
}

.dark .hover1:hover,
.dark .hover2:hover {
    background: var(--bg-third);
}

/* HEADER */
.dark .header_right svg {
    fill: #fff;
}

/* .dark .header_right svg:hover {
    fill: var(--pink-color);
} */

.dark .all_right_circle i {
    filter: invert(100%);
}

.dark .active_header svg {
    fill: var(--pink-color) !important;
}

.dark .small_circle {
    background: var(--pink-color);
}

.dark .small_circle:hover {
    background: var(--pink-color-btn);
}

.dark .small_circle i,
.dark .small_circle svg,
.dark .white_circle svg,
.dark .circle i {
    filter: invert(100%) !important;
}

.dark .small_circle_second i {
    filter: invert(100%);
}

.dark .profile_link {
    background: var(--bg-secondary);
}

.dark .profile_link:hover {
    background: var(--bg-secondary);
}

/* LEFT HOME */
.dark .left_home .small_circle {
    background: var(--bg-fifth);
}

/* MIDDLE HOME */
.dark .open_post:hover {
    background: #333;
}

.dark .post_action i {
    filter: invert(85%);
}

.dark .post_menu i,
.dark .post_menu img {
    filter: invert(100%);
}

.dark .comment_circle_icon i {
    filter: invert(85%)
}

.dark .comment_circle_icon:hover {
    background: #444;
}

.dark .box_privacy i,
.dark .box_privacy img {
    filter: invert(90%);
}

.dark .emoji_icon_large:hover {
    filter: invert(0%);
}

.dark .add_pics_wrap i {
    filter: invert(100%);
}

/* PROFILE */
.dark .open_cover_menu i,
.dark .open_cover_menu img,
.dark .open_cover_menu_second i,
.dark .open_cover_menu_second img {
    filter: invert(100%);
}

.dark .profile_circle:hover i {
    filter: invert(100%);
}

.dark .gray_btn {
    background: var(--bg-third);
}

.dark .profile_friend_count.gray_btn,
.dark .profile_friend_count.gray_btn:hover {
    background: none;
    cursor: default;
    border-radius: none;
}

.dark .gray_btn:hover {
    background: #777;
}

/* .dark .profile_container svg {
    filter: invert(80%);
} */

.dark .grid_icon {
    filter: invert(80%);
}

.dark .slider i {
    filter: invert(100%);
}

/* FRIENDS */
.dark .see_link:hover {
    background: var(--bg-primary);
}