.postBox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--bg-primary);
    box-shadow: 0 12px 28px 0 var(--light-pink-color-blur), 0 2px 4px 0 var(--light-pink-color);
    min-height: 228px;
    width: 500px;
    border-radius: 25px;
}

.box_header {
    position: relative;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    font-size: 20px;
    font-weight: 700;
    padding: 14px 15px 17px 15px;
    border-bottom: 1px solid var(--bg-third);
}

.box_header span {
    color: var(--color-primary);
}

.postBox .small_circle {
    position: absolute;
    right: 16px;
    top: 12px;
}

.box_profile {
    display: flex;
    gap: 12px;
    padding: 17px 17px 5px 17px;
}

.box_profile .box_profile_img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
}

.box_col {
    /* transform: translateY(-7px); */
    color: var(--color-primary);
}

.box_profile_name {
    font-size: 14px;
    font-weight: 600;
    /* margin-bottom: 4px; */
}

.box_privacy {
    display: flex;
    align-items: center;
    width: fit-content;
    /* width: 81px; */
    gap: 4px;
    font-size: 12px;
    padding: 3px 8px 4px 8px;
    border-radius: 7px;
    background: var(--bg-third);
    /* cursor: pointer; */
}

.box_privacy span {
    margin-bottom: 1px;
}

.flex_center {
    min-height: 90px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post_input {
    position: relative;
    outline: none;
    border: none;
    resize: none;
    padding: 5px 15px;
    margin-bottom: 10px;
    width: 100%;
    /* width: 470px; */
    margin-left: 1px;
    font-family: inherit;
    font-size: 24px;
    background: var(--bg-primary);
    color: #000;
}

.flex_center textarea {
    min-height: 90px;
    background: transparent;
    overflow-y: visible;
    position: absolute;
    color: var(--color-primary);
}

.post_emojis_wrap {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px 15px;
}

.post_emojis_wrap img {
    width: 39px;
    cursor: pointer;
}

.post_emojis_wrap i:hover {
    filter: invert(85%);
}

.comment_emoji_picker {
    position: absolute;
    right: 0;
    bottom: 2.5rem;
}

.rlmove {
    right: -7rem;
}

.addtoyourpost {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0 10px;
    padding: 10px;
    border: 3px solid var(--bg-forth);
    border-radius: 10px;
}

.addto_text {
    width: 50%;
    font-weight: 600;
    font-size: 14px;
    color: var(--color-primary);
}

.post_header_right {
    width: 35px;
    height: 35px;
    display: grid;
    place-items: center;
    cursor: pointer;
    border-radius: 10px;
}

.post_submit {
    width: calc(100% - 21px);
    margin: 5px 10px;
    padding: 10px;
    outline: none;
    border: none;
    background: var(--pink-color);
    color: white;
    font-weight: 600;
    border-radius: 25px;
    cursor: pointer;
    margin-bottom: 11px;
}

.post_submit_second {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 100px;
    padding: 10px;
    outline: none;
    border: none;
    background: var(--pink-color);
    color: white;
    font-weight: 600;
    border-radius: 25px;
    cursor: pointer;
}

.images_input {
    display: flex;
    flex-direction: column;
}

.images_input textarea {
    color: var(--color-primary);
}

.overflow_a {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.input2 {
    position: relative;
    display: block;
    font-size: 15px;
    min-height: 15px !important;
    width: 100%;
}

.moveleft {
    /* transform: translateX(-10px); */
    position: absolute;
    top: 6.5rem;
    right: 15px;
}

.movepicker2 {
    right: 1rem;
    top: 9.7rem;
    z-index: 9999;
}

.add_pics_wrap {
    margin: 10px 15px;
    padding: 10px;
    border: 1px solid var(--bg-third);
    border-radius: 10px;
    color: var(--color-primary);
}

.add_pics_inside1 {
    position: relative;
    background: var(--bg-secondary);
    border-radius: 10px;
    padding: 10px;
    height: 250px;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.add_col {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.small_white_circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--bg-third);
    background: var(--bg-primary);
    display: grid;
    place-items: center;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 99;
    cursor: pointer;
}

.add_circle {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 1px solid var(--bg-third);
    background: var(--bg-third);
    display: grid;
    place-items: center;
}

.add_col span:first-of-type {
    font-size: 14px;
    font-weight: 600;
}

.add_col span:last-of-type {
    font-size: 12px;
    color: var(--color-secondary);
}

.add_pics_inside2 {
    position: relative;
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    background: var(--bg-secondary);
    padding: 10px;
    border-radius: 10px;
}

.mobile_text {
    font-size: 12px;
    font-weight: 600;
}

.addphone_btn {
    background: var(--bg-third);
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 14px;
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.p0 {
    padding: 0;
    border-radius: 10px;
    height: 100%;
    cursor: default;
    overflow: hidden;
}

.preview_actions {
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    display: flex;
    gap: 1rem;
    /* display: none; */
}

/* .p0:hover .preview_actions {
    display: flex;
} */

.preview_actions button {
    outline: none;
    border: none;
    padding: 8px 10px;
    border-radius: 7px;
    background: var(--bg-primary);
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    font-family: inherit;
    color: var(--color-primary);
}

.preview1 {
    width: 100%;
    height: 100%;
}

.preview1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.preview2 {
    display: flex;
    height: 100%;
    gap: 2px;
}

.preview2 img {
    width: 50%;
    height: 230px;
    object-fit: cover;
}

.preview3 {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2px;
}

.preview3 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.preview3 img:nth-child(1) {
    grid-column: 1/3;
}

.preview4 {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2px;
}

.preview4 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* .preview4 img:nth-child(1) {
    grid-column: 1/4;
} */

.preview5 {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2px;
}

.preview5 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    grid-column: auto / span 2;
}

.preview5 img:nth-child(1),
.preview5 img:nth-child(2) {
    grid-column: auto / span 3;
}

.preview_even {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
}

.preview_even img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.preview_odd img:nth-child(1) {
    grid-column: 1/3;
}

.post_backgrounds {
    display: flex;
    align-items: center;
    gap: 5px;
}

.post_backgrounds img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 5px;
}

.no_bg {
    background: var(--bg-secondary);
    width: 35px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
}

.my_no_bg {
    position: absolute;
    left: 3.8rem;
    top: 14px;
    background: var(--bg-secondary);
    width: 35px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
}

.bgHandler {
    height: 360px;
    width: 100%;
    background-size: cover;
}

.bgHandler textarea {
    text-align: center;
    height: 360px;
    margin-top: 10px;
}

.postError {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--bg-primary);
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    /* z-index: 999; */
    color: var(--pink-color);
    animation: anim 0.5s;
    border-radius: 25px;
    padding: 3rem;
}

.postError_second {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: var(--bg-primary);
    opacity: 0.9;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    /* z-index: 999; */
    color: #b94a48;
    animation: anim_second 0.3s;
    border-radius: 5px;
    padding: 3rem;
}

.postError_third {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: var(--bg-primary);
    opacity: 0.9;
    display: flex;
    /* gap: 10px; */
    align-items: center;
    justify-content: center;
    /* z-index: 999; */
    color: var(--pink-color);
    animation: anim_third 0.3s;
    border-radius: 5px;
    /* padding: 3rem; */
}

.postError_forth {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: var(--bg-primary);
    opacity: 0.9;
    display: flex;
    /* gap: 10px; */
    align-items: center;
    justify-content: center;
    /* z-index: 999; */
    color: var(--pink-color);
    animation: anim_forth 0.3s;
    border-radius: 5px;
    /* padding: 3rem; */
}

.postError_zindex {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: var(--bg-primary);
    opacity: 0.9;
    display: flex;
    /* gap: 10px; */
    align-items: center;
    justify-content: center;
    z-index: 99;
    color: var(--pink-color);
    animation: anim_forth 0.3s;
    border-radius: 5px;
    /* padding: 3rem; */
}

.postError_zindex_second {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--bg-primary);
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    z-index: 999;
    color: var(--pink-color);
    animation: anim 0.5s;
    border-radius: 25px;
    /* padding: 3rem; */
}

.postError_error {
    text-align: center;
    width: 70%;
    font-weight: 600;
}

@keyframes anim {
    0% {
        top: 100%;
    }

    100% {
        top: 0%;
    }
}

@keyframes anim_second {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.l0 {
    left: 0;
}

@keyframes anim_third {
    0% {
        top: 100%;
    }

    100% {
        top: 0%;
    }
}

@keyframes anim_forth {
    0% {
        top: 100%;
    }

    100% {
        top: 0%;
    }
}

@media (max-width: 735px) {
    .rlmove {
        right: 10px;
    }
}

@media (max-width: 550px) {
    .postBox {
        width: 96%;
    }

    .post_backgrounds {
        width: 80%;
        overflow-x: auto;
    }

    .no_bg {
        width: 30px;
        height: 30px;
    }

    .post_backgrounds img {
        width: 30px;
        height: 30px;
    }
}

/* @media (max-width: 405px) {
    .preview_actions {
        flex-direction: column;
        gap: 2px !important;
    }

    .mobile_text {
        width: 50%;
    }
}

@media (max-width: 380px) {
    .post_input {
        font-size: 17px;
    }

    .addtoyourpost {
        justify-content: center;
    }

    .addto_text {
        display: none;
    }
} */